CONFIG_TARGET_qualcommbe=y
CONFIG_TARGET_qualcommbe_ipq53xx=y
CONFIG_TARGET_qualcommbe_ipq53xx_DEVICE_xiaomi_be3600-pro-wired-p8=y

CONFIG_LINUX_6_18=y

CONFIG_TARGET_ROOTFS_SQUASHFS=y

CONFIG_PACKAGE_ucode-mod-math=y

CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-light=y
CONFIG_PACKAGE_luci-base=y
CONFIG_LUCI_LANG_zh_Hans=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-app-firewall=y

CONFIG_PACKAGE_autocore=y

CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-fluent=y

CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y

# CONFIG_PACKAGE_mosdns=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_ppp=y
CONFIG_PACKAGE_ppp-mod-pppoe=y

CONFIG_PACKAGE_kmod-nft-offload=y

